@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-color{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.bg-1{
    flex: 1;
    background-color: #9f2042;
}

.bg-2{
    flex: 1;
    background-color: #000;
}

.about-container {
    width: 85%;
    min-height: 80vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgb(46, 45, 45);
}

.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container h1{
    font-size: 50px;
    padding: 10px 0px;
    font-family: 'Lobster', cursive;
    color: #9f2042;
}

.text-container p{
    font-size: 25px;
    padding: 10px 0px;
}

@media screen and (max-width: 1600px) {
    .about-container{
        width: 90%;
    }

    .image-container img{
        width: 400px;
        height: 400px;
    }

    .text-container h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .about-container{
        flex-direction: column;
    }

    .text-container{
        align-items: center;
    }
}

@media screen and (max-width: 550px) {
    .image-container img{
        width: 300px;
        height: 300px;
    }

    .text-container {
        font-size: 20px;
    }
}